* {
    margin: 0;
    padding: 0;
}

.Container {
  width: 980px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.Title {
  //background-color: blue;
  height: 50px;
  text-align: center;
}

.Header {
  background-color: black;
  height: 40px;
  position: sticky;
  top: 0;
}

.Header ul {
  margin: 0;
  padding: 0;
}

.Header li {
  list-style-type: none;
  float: left;
  display: block;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 35px;
}

.Header li a {
  text-decoration: none;
  color: #a7a7a7;
}
.Header li:Hover{
  background-color: white;
}

.Content {
  //background-color: red;
  height: 1500px;
}

.ContentContacts {

}

.ContainerContacts{
  display: table;
  width: 100%;
}

.Contactinfo {
  display: table-cell;
}

#nyhet {
  text-align: center;
}
.Footer {
  background-color: yellow;
  height: 60px;
}
