<!DOCTYPE html>
{% load static %}

<html lang="sv">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/Style.css' %}" />
  <title>Home page</title>

</head>

    <body>
          <div>
            <div class="Container">

             <div class="Title">
               <h1>ReDressed</h1>
             </div>
             <div class="Header">
              <ul>
                <li><a class="active" href="">Home</a></li>
                <li><a href="/sortiment/">Sortiment</a></li>
                <li><a href="/om-oss/">Om Oss</a></li>

              </ul>
             </div>
             <div class="Content">
               <h1 id="nyhet">NYHET!</h1>
                 {% for articles %}
                 {% endfor %}
             </div>
             <div class="Footer">

             </div>
            </div>
          </div>




    </body>
</html>
