<!DOCTYPE html>
{% load static %}

<html lang="sv">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/Style.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <title>{% block title %}{% endblock %}</title>

</head>

<body>
    <div class="Bkimage">
        <div class="Container">
            {% block logo %}
            <div class="Title">
                <h1>ReDressed</h1>
            </div>
            {% endblock %}
            <div class="Header">
                {% block header %}
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/sortiment/">Sortiment</a></li>
                    <li><a href="/om-oss/">Om Oss</a></li>
                    <form class="SearchBar"
                      Sök: <br>
                      <input type="text" placeholder="Sök...">
                      <button class="searchicon"><i class="material-icons" style="font-size: 12px">search</i>Search</button>
                    </form>
                </ul>
                {% endblock %}
            </div>
            <div class="Content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="Footer">
                {% block footer %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
