<!DOCTYPE html>
{% load static %}

<html lang="sv">
<head>
  <meta charset="utf-8">
  {% block css%}<link rel="stylesheet" href="{% static '/css/Style.css' %}" />{% endblock %}
  <title>{% block title %}{% endblock %}</title>

</head>

<body>
    <div class="Bkimage">
        <div class="Container">
            {% block logo %}
            <div class="Title">
                <h1>ReDressed</h1>
            </div>
            {% endblock %}
            <div class="Header">
                {% block header %}
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/sortiment/">Sortiment</a></li>
                    <li><a href="/om-oss/">Om Oss</a></li>
                </ul>
                {% endblock %}
            </div>
            <div class="Content">
                {% block content %}
                {% endblock %}
            </div>
            <div class="Footer">
                {% block footer %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
