<!DOCTYPE html>

{% extends "base.html" %}
{% load static %}

{% block header_title %} {{requested_apparel.type}} {% endblock %}

{% block image_header %}
{% if not apparel_focus %}
    <img src="{% static requested_apparel.image %}" alt="image could not be found" style="width:100%">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
        <h1 class="w3-jumbo w3-hide-small" style="text-transform:capitalize">{{ requested_apparel.type }}</h1>
        <h1 class="w3-hide-large w3-hide-medium" style="text-transform:capitalize">{{ requested_apparel.type }}</h1>
    </div>
{% else %}
    <img src="{% static apparel_focus.image %}" alt="image could not be found" style="width:100%">
    <p><a href="." class="w3-button w3-black w3-padding-large w3-large" onclick="cart.add({{apparel_focus.pk}})">Lägg i kundvagn</a></p>
{% endif %}
{% endblock %}

<!--    ???{#
{% block header_image_content %}
<p><a href="#" class="w3-button w3-black w3-padding-large w3-large" onclick="">Lägg i kundvagn</a></p>
{% endblock %}
-->#}

{% block content_grid %}
<div class="w3-row ">
{% for apparel in requested_apparel_list %}
    <div class="w3-col l3 s6">

      <div class="w3-container">
          <a href="{% url 'sortiment_apparel_focus' requested_apparel.type apparel.id %}">
            <img src="{% static apparel.image %}" style="width:100%">
          </a>
          <p>{{ apparel.brand }}<br><b>{{ apparel.price }} kr</b></p>
      </div>

    </div>

        {% if forloop.counter|divisibleby:"4" and not forloop.last %}
    </div><div class="w3-row">
        {% endif %}
{% endfor %}
  </div>

{% endblock %}